@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    font-family: "Quicksand", sans-serif;
}

.FONT{
    font-family: "Poppins", sans-serif;
}
.colorone{
    color: #000;
}

.colortwo{
    color: #fff;
}

.colorthree{
    color: rgb(191, 124, 57);
}

h1{
    font-size: 100px;
    font-weight: 900;
}
h2{
    font-size: 55px;
    font-weight: 700;
}

h3{
    font-size: 40px;
    font-weight: 700;
}

h4{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 10px;
}

h5{
    font-size: 20px;
    font-weight: 600;
   
}

p{
    font-size: 17px;
    font-weight: 400;
    color: #756e6e;
    font-family: "Quicksand", sans-serif;
}


.button1{
    background-color: rgb(191, 124, 57);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 13px;
    border: 0;
    border-radius: 0;
    transition: all .6s ease;
}

.button1:hover{
    background-color:rgba(129, 81, 33, 0.792) ;
    transition: all .6s ease;
    color: #fff;
}


.button2{
    background-color: #000;
    color: #fff;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 13px;
    border: 0;
    border-radius: 0;
    transition: all .6s ease;
}

.button2:hover{
    background-color:#000000be;
    transition: all .6s ease;
    color: #fff;
}

.button3{
     background-color: rgb(191, 124, 57);
     padding: 5px;
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 8px;
     border-radius: 0;
     transition: all .5s ease-in-out;

}

.button3:hover{
    background-color: #000;
    color: #fff;
    transition: all .5s ease-in-out;
}


/* ---------------------------------------------navbar-------------------------------------- */
.navbar {
    background:transparent;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(152, 149, 149, 0.434);
    z-index: 11;
    position: absolute;
    top: 0;
}
.nav-item a{
    color: white !important;
}

.nav-item a:hover{
    color: #aba1a1 !important;
}

.offcanvas-header{
    background-color:#000;
}

.navbar-nav a{
    font-size: 17px;
    font-weight: 500;
}


.preserve{
    font-size: 16px;
    font-family:sans-serif;
    line-height: 10px;
    overflow: hidden;
}

.item-nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.item-nav:hover a{
    text-decoration: none;
    
    font-size: 16px;
}

.nav-card{
    position: absolute;
    top: 5rem;
    left: 70%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 0.3s ease-in-out, opacity 0.8s;
}

.bi-cart3:hover .nav-card{
    visibility: visible;
    cursor: pointer;
    opacity: 1;
    transform: translateY(5px);

}
.nav-card p{
    font-size: 16px;
}

.offcanvas-body{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.518),rgba(0, 0, 0, 0.55)),url(assets/banner/carousel-1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

/* --------------------------------------------------Banner----------------------------- */


.carousel1{
    background-image:linear-gradient(to right, rgba(72, 41, 11, 0.61),rgba(72, 41, 11, 0.614)),url(assets/banner/carousel-1.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.carousel2{
    background-image:linear-gradient(180deg, rgba(72, 41, 11, 0.65),rgba(72, 41, 11, 0.781)),url(assets/banner/carousel-2.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* ================================================about-us============================ */


.photo-1-location{
    /* background-image:linear-gradient(to right, rgba(72, 43, 11, 0.288),rgba(72, 43, 11, 0.306)),url(assets/icons/srceen-shot.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px; */
    position: absolute;
    top: 36rem;
}

.overlay-top::before,
.overlay-bottom::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    left: 0;
    z-index:1;
}

.overlay-top::before{
    top: -1px;
    background: url(assets/icons/photo-1.png);
}

.overlay-bottom::after{
    bottom: -1px;
    background:url(assets/icons/photo-1.png) ;
}

.carousel-caption{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51,33,29,.7);
    z-index: 1;
}

.vertical-line{
    height: 100px;
    width: 2px;
    background-color: rgb(191, 124, 57) !important ;
}

.about-div-img{
    background-image: url(assets/bg/about.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.about-div{
    /* background-color: rgba(227, 223, 214, 0.888); */
}


/* ------------------------------------info-div--------------------------- */













/* ------------------------------------------service--------------- */

.service-icons{
    height: 50px;
    width: 50px;
    background-color: rgb(191, 124, 57);
    border-radius: 100%;
    color: #000;
    padding: 8px;
    padding-top: 4px;
    padding-left: 12px;
    transition: all .5s ease;
}

.service-icons:hover{
    background-color: #000;
    color:rgb(191, 124, 57) ;
    transition: all .5s ease;
    transition: all .5s ease;
}

/* ----------------------------------------offer---------------------- */

#offer{

    background-image:linear-gradient(to right, rgba(49, 30, 12, 0.813),rgba(49, 30, 12, 0.813)),url(assets/banner/coffee-bg-2.avif);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
}

.photo-1-location2{
    position: relative;
    top: 8px;
}
.photo-1-location3{
    position: relative;
    top: -8px;
}

.form-controls{
    height: 65px;
    
}

input1{
    border: none !important;
}

input1:focus{
    outline: none !important;
    border: none !important;
}


.menu-img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
    transition: all .5s ease-in-out;

}

.menu-img:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}

.menu-prize-tag{
    height: 50px;
    width: 50px;
    background-color: rgb(191, 124, 57);
    border-radius: 100%;
    position: relative;
    top: -10rem;
    left: 6rem;
    padding-left: 12px;
    padding-top: 8px;
    transition: all .6s ease;
}

.menu-prize-tag:hover{
    background-color: #000;
    color:rgb(191, 124, 57) ;
    transition: all .6s ease;
}


.icons-cart{
    position: relative;
    top: -2rem;
    left: 16rem;
    height: 50px;
    width: 50px;
    background-color:rgb(191, 124, 57) ;
    color: #000;
    padding-left: 10px;
    padding-top: 3px;
    transition: all .5s ease-in-out;

}

.icons-cart:hover{
    background-color: #000;
    color: rgb(191, 124, 57) ;
    transition: all .5s ease-in-out;
}


/* -------------------------------booking------------------------------------- */
#Booking{
    background-image:linear-gradient(180deg, rgba(49, 30, 12, 0.623),rgba(49, 30, 12, 0.813)),url(assets/banner/coffee-bg-2.avif);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
}



.photo-1-location4{
    position: relative;
    top: -14.5px;
   
}

.photo-1-location5{
    position: relative;
    top: 10px;
}

.booking-icons::before{
    content: "✔ ";
    color: rgb(191, 124, 57) ;
    padding-right: 10px;
}

.booking-form{
    /* background-color: rgba(49, 30, 12, 0.854); */
    border: 1px solid #fff;
    margin-top: 20px;
}

.form-input{
    height: 55px;
    width: 100%; 
    padding-left: 15px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

input::placeholder{
    color: #fff !important;
}

/* input[type="datetime-local"]::placeholder{
    color: #fff !important;
} */



  /* ---------------------------------testimonials----------------------- */

  .marquee-container{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
  }
  .marquee-content{
    display: flex;
    padding: 10px;
    animation: marquee 30s linear infinite;
  }

  @keyframes marquee{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
  }

  .s-star i{
    font-size: 13px;
  }

  /* ----------------------------------------------footer---------------------------------------- */

  #footer{
    background-image:linear-gradient(180deg, rgba(49, 30, 12, 0.623),rgba(49, 30, 12, 0.813)),url(assets/banner/coffee-bg-2.avif);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
  }

  .photo-1-location6{
    position: relative;
    top: 5px;
  }

  .footer-icons{
    height: 45px;
    width: 45px;
    border: 1px solid #fff;
    color: #fff;
    transition: all .5s ease-in-out;
    padding: 2px;

  }
  .footer-icons:hover{
    background-color: #fff;
    color: rgb(191, 124, 57) ;
    transition: all .5s ease-in-out;
  }

  .footer-hr{
    width: 100%;
    height: 2px;
    color: #fff;
  }